* {
    box-sizing: border-box;
    padding: 0; margin: 0;
    color: white;
    text-shadow: 0px 0px 3px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav {
    display: flex; flex-direction: row;
    /* border: 2px solid red; */
    align-items: flex-end; justify-content: space-between;
    padding: 0px 20px;
}
#active { color: pink; }
#active:hover {color: black;}
.pages {
    display: flex;
    list-style: none;
    align-items: center; justify-content: space-evenly;
}
.pages li {
    margin: 4px 10px;
    padding: 3px 6px;
    cursor: pointer;
    border-bottom: 1px solid pink;
    position: relative;
    transition: all 0.4s;
}
.pages li:hover {
    text-shadow: none;
    color: black;
}
.pages li::before {
    content: '';
    position: absolute;
    display: block;
    bottom: 0; left: 0; right: 0;
    height: 0%;
    z-index: -1;
    transition: all 0.4s;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.pages li:hover::before {
    background-color: pink;
    content: '';
    position: absolute;
    display: block;
    bottom: 0; left: 0; right: 0px;
    height: 100%;
    z-index: -1;
}
.title {
    padding: 3px 6px;
    font-size: 2.3vw;
    position: relative;
}
.body {
    min-height: 100vh;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.3);
}

/* ------------------------------------------------ */
.bg-cars {
    position: fixed;
    height: 100vh; width: 100vw;
    top: 0; left: 0; right: 0; bottom: 0;
    overflow: hidden;
    background-color: black;
    z-index: -1;
}

#parkNow {
    border: 3px solid pink;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.191);
    color: pink;
    font-weight: bold;
    transition: all 0.4s;
    border-radius: 10px;
    margin: 3px 0px;
    cursor: pointer;
    text-shadow: none;
}
#parkNow:hover {
    background: pink;
    color: black;
}
/* ------------------------------------------------ */
.top-container {
    display: flex;
    align-items: center; justify-content: center;
    padding: 30px 0px; 
    position: relative;
}
.top {
    display: inline-flex;
    align-items: center; justify-content: center;
    border-radius: 30px;
    margin: 40px;
}
.info {
    width: 40vw;
}
.info h1 {
    font-size: 3.3vw;
}
.info h3 {
    font-size: 1.3vw;
}
#info-name {
    font-size: 1.5vw;
    color: aquamarine;
}
#home-img {
    height: 24vw; width: 32vw;
    transform: scale(calc(10/8)) translateY(-13px);
}
#img-container {
    background: linear-gradient(45deg, pink, darkmagenta);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    animation: border-blob 7s ease-in-out 0s infinite forwards ;
    transform: scale(0.7) translateY(13px);
}
@keyframes border-blob {
    0% { border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ; }
    25% {border-radius: 34% 66% 73% 27% / 70% 41% 59% 30%  ;}
    50% {border-radius: 71% 29% 32% 68% / 37% 52% 48% 63% ;}
    75% {border-radius: 57% 43% 57% 43% / 28% 77% 23% 72%  ;} 
    100% { border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ; }
}
/* ------------------------------------------- */
.reserve {
    text-align: center;
    font-size: 3rem;
    transform: translateY(-15px);
}
.mid-container {
    display: flex;
    align-items: center; justify-content: space-evenly;
    margin-bottom: 30px;
}
.map-container {
    position: relative;
    width: 45vw; height: 30vw;
    border-radius: 20px;
}
.solid-glass {
    background-color: rgba(0, 0, 0, 0.155);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0px 6px 12px black;
}
.floor-container {
    display: flex; flex-direction: column;
    height: 25vw; width: 10vw;
    border-radius: 20px;
    padding: 6px;
}
.hidden {
    opacity: 0;
    transform: translateX(-300px);
}
.radio-div {
    height: 100%;
    display: flex; align-items: center; justify-content: center;
    border-radius: 12px;
    margin: 4px; padding: 6px;
    cursor: pointer;
    text-shadow: none;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 1.2rem;
    box-shadow: inset 0px 0px 7px black;
}
.map-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    row-gap: 25%; column-gap: 3px;
    transition: all 0.8s;
    position: absolute;
    height: 100%; width: 100%;
    padding: 10px 40px;
    /* border: 2px solid white; */
}
.slot {
    border: 2px solid pink;
    padding: 10px;
    display: flex; align-items: center; justify-content: center;
    transform: skew(15deg);
    font-size: 1.13rem;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    z-index: 3;
}
.slot:hover {
    box-shadow: inset 0px 0px 20px pink;
    background-color: rgba(0, 0, 0, 0.321);
}

.slot-holder {
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    transform: skew(-15deg);
    color: pink;
}
.slot-holder svg {
    fill: pink;
}
.radio-div:hover {
    background: rgba(0, 0, 0, 0.35);
}
.current, .current:hover {
    background: rgba(0, 0, 0, 0.7);
    outline: none;
    color: pink;
}
.slot-4 {
    grid-column: span 2;
}
.slot-booked, .slot-booked:hover {
    background: rgba(249, 5, 5, 0.45);
    box-shadow: inset 0px 0px 10px rgb(249, 5, 5);
}
.slot-booked .slot-holder {
    color: black;
    text-shadow: none;
}
.slot-booked .slot-holder svg {
    fill: black;
}
.popup-trigger {
    cursor: pointer;
}

/* -------------------------------------------- */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* -------------------------------------------- */
/* .add-container {
    position: absolute;
    display: none; 
    align-items: center; justify-content: center;
    left: 50vw; top: 50vh;
    transform: translate(-50%, -50%);
} */
.glass {
    border: 2px solid white;
    border-radius: 30px;
    display: inline-flex; flex-flow: column;
    align-items: center; justify-content: center;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.155);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    font-size: 1.2rem;
    box-shadow: 0px 6px 12px black;
}
.glass .form-group{
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    margin: 20px;
}
.glass .btns {
    display: flex;
    flex-direction: row;
    align-items: center; justify-content: space-evenly;
}
.error {
    color: rgb(255, 68, 43);
    text-shadow: 0px 0px 1px black;
}
.glass .form-group input { 
    text-shadow: none;
    padding: 8px 10px;
    margin: 3px 0px;
    border-radius: 7px;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 1.2rem;
    box-shadow: inset 0px 0px 7px black;
}
.glass input:hover {
    background: rgba(0, 0, 0, 0.35);
}
.glass input:focus {
    background: rgba(0, 0, 0, 0.45);
    outline: none;
}
input::placeholder {
    text-decoration: none;
}
.container {
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container label{
    user-select: none;
  }
.container input[type="radio"] {
  display: none;
}

.container input[type="radio"] + label {
    z-index: 10;
    margin: 0 10px 10px 0;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    font-weight: bold;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 7px black;
    cursor: pointer;
    transition: all 200ms ease;
}
.container input[type="radio"] + label svg {
    fill: grey;
}
.container input[type="radio"]:checked + label {
    background: rgba(0, 0, 0, 0.45);
    /* box-shadow: 0px 0px 4px black; */
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.container input[type="radio"]:checked + label svg {
    fill: white;
}
  
.container input[type="radio"] + label {
    padding: 5px 20px;
    border-radius: 10px;
}
.glass .btns input {
    width: 120px;
}