* {
    box-sizing: border-box;
    padding: 0; margin: 0;
    color: white;
    text-shadow: 0px 0px 3px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav {
    display: flex; flex-direction: row;
    /* border: 2px solid red; */
    align-items: flex-end; justify-content: space-between;
    padding: 0px 20px;
}
#active { color: pink; }
#active:hover {color: black;}
.pages {
    display: flex;
    list-style: none;
    align-items: center; justify-content: space-evenly;
}
.pages li {
    margin: 4px 10px;
    padding: 3px 6px;
    cursor: pointer;
    border-bottom: 1px solid pink;
    position: relative;
    transition: all 0.4s;
}
.pages li:hover {
    text-shadow: none;
    color: black;
}
.pages li::before {
    content: '';
    position: absolute;
    display: block;
    bottom: 0; left: 0; right: 0;
    height: 0%;
    z-index: -1;
    transition: all 0.4s;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.pages li:hover::before {
    background-color: pink;
    content: '';
    position: absolute;
    display: block;
    bottom: 0; left: 0; right: 0px;
    height: 100%;
    z-index: -1;
}
.title {
    padding: 3px 6px;
    font-size: 2.3vw;
    position: relative;
}
.body {
    min-height: 100vh;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.3);
}
/* --------------------------------------------------- */
.bubbles {
    position: fixed;
    height: 100vh; width: 100vw;
    top: 0; left: 0; right: 0; bottom: 0;
    overflow: hidden;
    background-color: black;
    z-index: -1;
}
.bubbles div {
    position: absolute;
    height: 30px; width: 30px;
    border-radius: 50%;
    top: calc(var(--i)*1vh);
    left: calc(1vw*var(--j));
    transform: scale(calc(var(--j)/25 + 1/var(--j)/(var(--i) - var(--j))));
    animation: moveAndResize 120s infinite forwards;
}
@keyframes moveAndResize {
    0% {
        /* transform: scale(calc(var(--j)/25 + 1/var(--j))); */
        top: calc(var(--i)*1vh); left: calc(1vw*var(--j));
    } 25% {
        /* transform: scale(calc((var(--i) + var(--j)/50)/(var(--i) - var(--j)))); */
        top: calc(var(--j)*1vh); left: calc(100vw - var(--i)*1vw);
        /* border-color: lime; */
    } 50% {
        /* transform: scale(calc(var(--i)/45)); */
        top: calc(100vh - var(--i)*1vh); left: calc(100vw - var(--j)*1vw);
        /* border-color: pink; */
    } 75% {
        top: calc(100vh - var(--j)*1vh); left: calc(var(--i)*1vw);
        /* transform: scale(calc(var(--i)/30 - var(--j)/30)); */
        /* border-color: aqua; */
    } 100% {
        /* transform: scale(calc(var(--j)/25 + 1/var(--j))) translate(0,0); */
        top: calc(var(--i)*1vh); left: calc(1vw*var(--j));
    }
}
/* ------------------------------------------------ */
.bg-cars {
    position: fixed;
    height: 100vh; width: 100vw;
    top: 0; left: 0; right: 0; bottom: 0;
    overflow: hidden;
    background-color: black;
    z-index: -1;
}
/* ------------------------------------------------ */
.pgs {
    display: flex;
    list-style: none;
    align-items: center; justify-content: space-evenly;
}
.pgs li {
    margin: 4px 10px;
    padding: 3px 9px;
    cursor: pointer;
    border-radius: 100px;
    position: relative;
    transition: all 0.4s;
    overflow: hidden;
}
.pgs li:hover {
    text-shadow: none;
    color: black;
}
.pgs li::before {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    content: '';
    position: absolute;
    display: block;
    bottom: 0; top: 0; right: 0;
    box-shadow: inset -5px 2px 5px rgba(0, 0, 0, 0.5);
    width: 0%;
    /* width: 50%; */
    z-index: -1;
    transition: all 0.4s;
}
.pgs li::after {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    content: '';
    position: absolute;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    display: block;
    bottom: 0; left: 0; top: 0;
    box-shadow: inset 5px 2px 5px rgba(0, 0, 0, 0.5);
    width: 0%;
    /* width: 50%; */
    z-index: -1;
    transition: all 0.4s;
}
.pgs li:hover::before {
    background-color:aquamarine;
    content: '';
    position: absolute;
    display: block;
    /* bottom: 0; left: 0; right: 0px; */
    width: 50%;
    z-index: -1;
}
.pgs li:hover::after {
    background-color: white;
    content: '';
    position: absolute;
    display: block;
    /* bottom: 0; left: 0; right: 0px; */
    width: 50%;
    z-index: -1;
}
/* -------------------------TOP------------------------------ */
.top-container {
    display: flex;
    align-items: center; justify-content: center;
    padding: 30px 0px; 
    position: relative;
}
.top {
    display: inline-flex;
    align-items: center; justify-content: center;
    border-radius: 30px;
    margin: 40px;
}
.info {
    width: 40vw;
}
.info h1 {
    font-size: 3.3vw;
}
.info h3 {
    font-size: 1.3vw;
}
#info-name {
    font-size: 1.5vw;
    color: aquamarine;
}
#home-img {
    height: 24vw; width: 32vw;
    transform: scale(calc(10/8)) translateY(-13px);
}
#img-container {
    background: linear-gradient(45deg, pink, darkmagenta);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    animation: border-blob 7s ease-in-out 0s infinite forwards ;
    transform: scale(0.8) translateY(13px);
}
@keyframes border-blob {
    0% { border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ; }
    25% {border-radius: 34% 66% 73% 27% / 70% 41% 59% 30%  ;}
    50% {border-radius: 71% 29% 32% 68% / 37% 52% 48% 63% ;}
    75% {border-radius: 57% 43% 57% 43% / 28% 77% 23% 72%  ;} 
    100% { border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ; }
}
#parkNow {
    border: 3px solid pink;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.191);
    color: pink;
    font-weight: bold;
    transition: all 0.4s;
    border-radius: 10px;
    margin: 3px 0px;
    cursor: pointer;
    text-shadow: none;
    font-size: 1rem;
}
#parkNow:hover {
    background: pink;
    color: black;
}
/* --------------------------------------------- */
.data-container {
    display: flex;
    align-items: center; justify-content: center;
    /* position: absolute; */
    /* bottom: -20px; left: 0; right: 0; */
}
.data-flex {
    display: flex;
    background: rgba(255, 255, 255, 0.14);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    padding: 5px;
}
.data {
    display: flex;
    align-items: center; justify-content: center;
}
.data-item {
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    margin: 15px;
}
.data-item h3 {
    font-size: 13px;
}
.data-item h1 {
    font-size: 45px;
}
.collabImg {
    height: 40px;
}
.collab {
    margin-left: 100px;
}
.mid {
    text-align: center;
    font-size: 3rem;
    margin: 20px;
    margin-bottom: 0px;
    padding: 10px;
}
/* ------------------------------------ */
.thingsUsed {
    position: absolute;
    bottom: 0; 
    /* left: 0; right: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.thingsUsed img{ 
    height: 80px;
    margin: 6px 0px;
}

/* ------------------------------------ */
.mid-container {
    display: flex;
    align-items: center; justify-content: space-evenly;
    margin-bottom: 30px;
}
.map-container {
    position: relative;
    width: 45vw; height: 30vw;
    border-radius: 20px;
}
.solid-glass {
    background-color: rgba(0, 0, 0, 0.155);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0px 6px 12px black;
}
.floor-container {
    display: flex; flex-direction: column;
    height: 25vw; width: 10vw;
    border-radius: 20px;
    padding: 6px;
}
.hidden {
    opacity: 0;
    transform: translateX(-300px);
}
.radio-div {
    height: 100%;
    display: flex; align-items: center; justify-content: center;
    border-radius: 12px;
    margin: 4px; padding: 6px;
    cursor: pointer;
    text-shadow: none;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 1.2rem;
    box-shadow: inset 0px 0px 7px black;
}
.map-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    row-gap: 25%; column-gap: 3px;
    transition: all 0.8s;
    position: absolute;
    height: 100%; width: 100%;
    padding: 10px 40px;
}
.slot {
    border: 2px solid pink;
    padding: 10px;
    display: flex; align-items: center; justify-content: center;
    transform: skew(15deg);
    font-size: 1.13rem;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    z-index: 3;
}
/* .slot:hover {
    box-shadow: inset 0px 0px 20px pink;
    background-color: rgba(0, 0, 0, 0.321);
} */

.slot-holder {
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    transform: skew(-15deg);
    color: pink;
}
.slot-holder svg {
    fill: pink;
}
.radio-div:hover {
    background: rgba(0, 0, 0, 0.35);
}
.current, .current:hover {
    background: rgba(0, 0, 0, 0.7);
    outline: none;
    color: pink;
}
.slot-4 {
    grid-column: span 2;
}
.slot-booked, .slot-booked:hover {
    background: rgba(249, 5, 5, 0.45);
    box-shadow: inset 0px 0px 10px rgb(249, 5, 5);
}
.slot-booked .slot-holder {
    color: black;
    text-shadow: none;
}
.slot-booked .slot-holder svg {
    fill: black;
}
/* ------------------------------------------------- */
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    background: rgba(255, 255, 255, 0.14);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
table td, table th {
    border: 2px solid white;
    padding: 8px;
    text-align: center;
}

table tr:hover {background-color: rgba(255, 192, 203, 0.3);}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #00000099;
}
.name {
    font-size: 30px;
    text-align: center;
    margin: 30px;
}
.table-container {
    display: flex; flex-direction: column;
    /* font-size: 25px; */
    align-items: center; justify-content: center;
    margin: 30px;
}
.table-container h1 {
    display: flex;
    align-items: center; justify-content: center;
}